.itemImage{
    width: 25%;
    height: 25%;
}
.itemDetails{
    display: inline-flex;
}
.itemDesc{
    margin-top: 5%;
}
.itemPrice{
    margin-top: 14%;
}
.cartLine{
    border-top: solid 3px #e5e5e5;
}
.qtydetails{
    display: flex;
}
.numberWidth{
    width: 5%;
}